<div class="footer">
  <div class="container">
    <div class="wrapper">
      <div class="col-sm-6 footer-column">
        <h3>Sysadmin on the path to devoloper</h3>
<!--         <img src="http://0.gravatar.com/avatar/7d0da19393b3b5dff39fbb5f53b21040" class="img-responsive logo">
-->        <p>I've dabbled in everything from bontany, to IHRA drag racing, even authored a cyberpunk novel and comic.<a href="https://github.com/benjaminwulf" target="_blank">Benjamin Wulf</a>As an inquistive college student, I began journaling regualarly in 2004. My current book <i>Shell Gaming Dominion</i>is soon to to go into 2nd digital print with the addition of the comic. The story follows a devops engineer, Hansel Heidelberg, as he becomes intertwined with the NSA and a girl associated with the Undernet. The sequel is currently in draft form, focusing on a Leo Dvorak, the architect of Project Koeppen, the same inititive that recruits Hansel. Displace following security breaches, Leo is 43, unmarried and takes the gap to find love. The same anonymity he once prided on is lost as he gives onlinee dating sites a trial only to find himself witnessing a rare instument ponzi with a first chair violin virtuoso.</p>
      </div>
<!--      <div class="col-sm-2 footer-column">
        <h3>Links</h3>
        <ul class="footer-links">
          <li><a href="">Tour</a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </div>
      <div class="col-sm-2 footer-column">
        <h3>Resources</h3>
        <ul class="footer-links">
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </div> -->
      <div class="col-sm-2 footer-column">
        <h3>Hello</h3>
        <ul class="footer-links">
          <li><a href="http://twitter.com/b3njito" target="_blank">Twitter</a></li>
          <li><a href="https://github.com/benjaminwulf" target="_blank">Github</a></li>
          <li><a href="https://www.linkedin.com/in/benjaminwulf" target="_blank">LinkedIn</a></li>
        </ul>
      </div>
    <div class="col-sm-12">
      <hr>
        <p class=""></p>
      </div>
  </div>
</div>
