<div class="footer">
  <div class="container">
    <div class="wrapper">
      <div class="col-sm-6 footer-column">
        <h3>Sysadmin on the path to devoloper</h3>
<!--         <img src="http://0.gravatar.com/avatar/7d0da19393b3b5dff39fbb5f53b21040" class="img-responsive logo">
-->       
      </div>
<!--      <div class="col-sm-2 footer-column">
        <h3>Links</h3>
        <ul class="footer-links">
          <li><a href="">Tour</a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </div>
      <div class="col-sm-2 footer-column">
        <h3>Resources</h3>
        <ul class="footer-links">
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </div> -->
      <div class="col-sm-2 footer-column">
        <h3>Hello</h3>
        <ul class="footer-links">
          <li><a href="http://twitter.com/b3njito" target="_blank">Twitter</a></li>
          <li><a href="https://github.com/benjaminwulf" target="_blank">Github</a></li>
          <li><a href="https://www.linkedin.com/in/benjaminwulf" target="_blank">LinkedIn</a></li>
        </ul>
      </div>
    <div class="col-sm-12">
      <hr>
        <p class=""></p>
      </div>
  </div>
</div>
